extends baseEmail

block content
  h1 Welcome to Where2, #{firstName}!
  br
  p We're thrilled to have you on board. With Where2, you're about to discover amazing places and experiences.
  p Here are a few things you can do to get started:
  ul
    li Here you can easily find scholarships information
    li We offer ease of finding affordable housing, dormitory, financing with our huge community
    li Connect with other students to build your network
  p If you need any help along the way, don't hesitate to reach out to our support team. At developers@w2hub.org
  p - The Where2 Team